Support validating wildcard answers

[RFC 5155 Section 8.8](https://tools.ietf.org/html/rfc5155#section-8.8)