Properly check NSEC3 type map

Last paragraph of [RFC 5155 Section 8.3](https://tools.ietf.org/html/rfc5155#section-8.3) isn't fully applied (I think?) as well as [RFC 6672 Section 5.3.2](https://tools.ietf.org/html/rfc6672#section-5.3.2).