Support NSEC3 validation of wildcard no data responses

[RFC 5155 Section 8.7](https://tools.ietf.org/html/rfc5155#section-8.7)